<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contactez-nous - MovieStream</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul class="links">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li><a href="{% url 'films' %}">Films</a></li>
        <li><a href="{% url 'series' %}">Series</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="contact">
    <div class="container">
      <h1>Contactez-nous</h1>
      <p>Remplissez le formulaire ci-dessous pour nous envoyer un message.</p>

      <form id="contact-form" action="https://formspree.io/f/xbjeawep" method="POST">
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" required>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit" id="submit-btn">Envoyer</button>
      </form>

      <div class="info">
        <h2>Informations de contact</h2>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Hlm Grand Yoff - Route de l'Aeroport</li>
          <li><i class="fas fa-envelope"></i> contact@moviestream.com</li>
          <li><i class="fas fa-phone"></i> 77 097 75 10 / 78 152 23 30</li>
        </ul>
      </div>
    </div>
  </section>

  <footer style="margin-top: 1.3vh;">
    <div class="container">
      <p>&copy; 2023 MovieStream - Tous droits réservés</p>
      <ul class="social">
        <li><a href="https://github.com/MLaminekane"><i class="fab fa-github"></i></a></li>
        <li><a href="https://twitter.com/mlaminekane01"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </footer>
  <script src="{% static '/Js/contact.js' %}"></script>
</body>
</html>
